<!DOCTYPE html>
<html>
    <head>
	<script type="text/javascript">
      var verifyCallback = function(response) {
        alert(response);
      };
      var widgetId1;
      var widgetId2;
      var onloadCallback = function() {
        // Renders the HTML element with id 'example1' as a reCAPTCHA widget.
        // The id of the reCAPTCHA widget is assigned to 'widgetId1'.
        widgetId1 = grecaptcha.render('example1', {
          'sitekey' : '6LdxUrUaAAAAAHa3FcbPi1SLnbAJF31JHajHIXuB',
          'theme' : 'light'
        });
      };
    </script>
        <meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
	{% if title == "Регистрация" or title == "Авторизация" %}
	<link rel="stylesheet" href="{{ url_for("static", filename="css/log_res_style.css") }}">
	{% elif title == "Доставка" %}
	<link rel="stylesheet" href="{{ url_for("static", filename="css/delivery_style.css") }}">
	{% endif %}

    </head>
    <body>
        <header>

            <div id="logo_image" class="header_content">
                <a href="./">
                    <img src="{{ url_for("static", filename="img/logo.png") }}">
                </a>
            </div>


            <div id="about_service" class="header_content">
                <span class="about_service_block">
                    Наши магазины
                </span>

                <span class="about_service_block">
                    +7(900)800-70-60
                </span>
            </div>

            <div id="additional_info" class="header_content">
                <span class="additional_info_block">
          {% if title == "Регистрация" %}
                        <a href="./login">
                        Войти
                        </a>
                    {% else %}
                        <a href="./register">
                        Зарегистрироваться
                        </a>
                    {% endif %}
                </span>

                <span class="additional_info_block">
                    <a href="https://vk.com/club203399900">
                    Группа ВК
                    </a>
                </span>

                <span class="additional_info_block">
                    <a href="./delivery">
                    Доставка
                    </a>
                </span>

     		{% if status_login == True %}
                <span id="basket_image" class="additional_info_block">
                    <a href="/basket">
                    <img  src="{{ url_for("static", filename="img/basket.png") }}">
                    </a>
                </span>
		{% else %}
		<span></span>
		{% endif %}
            </div>
        </header>

	<!-- Begin page content -->
	<main role="main" class="container">
		{% block content %}{% endblock %}
	</main>

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
    </script>
        <footer>
        </footer>

    </body>
</html>