{% extends 'base.html' %}

{% block content %}
    <h1>Доставка</h1>
    <h1 class="colored_h">Доставка и сопутствующие услуги по Саратову/Энгельсу</h1>	
    <div>
    Стандартная доставка осуществляется в будние, выходные и праздничные дни.
    </div>

    <div>
    Оплата заказа производится на месте адреса доставки, только НАЛИЧНЫМИ средствами, так же Вы можете оплатить заказ он-лайн на нашем сайте.
    </div>

    <div>
    Доставка в пределах города c 14:00 до 21:00 в один из выбранных временных интервалов.
    </div>

    <div>
    Доставка за пределы города во временной интервал с 10:00 до 18:00. 
    </div>

    <h1 class="colored_h">Стоимость</h1>	
    <img src="{{ url_for("static", filename="img/costs_1.png") }}">	

    <h2 class="colored_h">Стоимость услуги «подъем товара на этаж»:</h2>	
    <img src="{{ url_for("static", filename="img/costs_2.png") }}">	

    <h2 class="colored_h">Условия оказания услуги Доставка:</h2>
    <ul>
        <li class="uncount_list">
	Услуга оказывается при условии наличия товара на складе отгрузки и после подтверждения возможности отгрузки менеджером. 
	</li>
	<li class="uncount_list">
	Заказы стоимостью свыше 100 000 рублей доставляются по предварительному согласованию.
	</li>
        <li class="uncount_list">
	Заказы стоимостью свыше 550 000 рублей доставляются при условии полной предварительной оплаты.
	</li>
    </ul>
{% endblock %}